/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

#header {
background-color: pink;
padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5bba9bcd7211ecfbb82d615418221dc8729073e2
